#button{
    padding: 8px 16px;
    display: inline-block;
    background: blueviolet;
    border-radius: 4px;
    text-decoration-line: none;
    color: #fff;
    transform: skew(-45deg);
    margin-left: 20px;
}
#button > div{
    transform: skew(45deg);
}